#banner {
  padding: 40px 0;
  max-height: 90vh;
  min-height: 640px;
}

#img_banner {
  border-image-slice: 1;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, var(--rosa), var(--roxo));
}

#jogo {
  padding: 40px 0;
  max-height: 60vh;
  min-height: 480px;
}

#text_space {
  gap: 10px;
  display: flex;
  max-width: 640px;
  margin-left: 15vw;
  flex-direction: column;
}

#card_jogos {
  padding: 20px;
}

#jogo_img {
  width: 40%;
}

#jogo_text {
  width: 75%;
  text-align: center;
}
