#card_jogo {
  height: 400px;
  padding: 0 0 15px;
  justify-content: space-between;
}

#card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

#card_texto {
  width: 90%;
}

#card_botoes {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card_botoes_edit {
  gap: 10px;
  display: flex;
}
